**Importing Required Librariesm, reading data, and visualizing using pandas**

In [283]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [284]:
# pip install matplotlib

In [285]:
df=pd.read_csv("/content/Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [286]:
df.shape

(13320, 9)

In [287]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [288]:
# We drop the 16 null values from the size column
df.dropna(subset=['size','location'], inplace=True)
df.isna().sum()

area_type          0
availability       0
location           0
size               0
society         5499
total_sqft         0
bath              57
balcony          593
price              0
dtype: int64

In [ ]:
df['society'].value_counts(ascending=False)

**Filling missing values in society column**

The society column has large number of missing values so rather than dropping the rows with null values I have imputed them with most frequent value in the column

In [290]:
df['society']=df['society'].fillna('GrrvaGr')
df.isna().sum()

area_type         0
availability      0
location          0
size              0
society           0
total_sqft        0
bath             57
balcony         593
price             0
dtype: int64

In [291]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13303 non-null  object
 1   availability  13303 non-null  object
 2   location      13303 non-null  object
 3   size          13303 non-null  object
 4   society       13303 non-null  object
 5   total_sqft    13303 non-null  object
 6   bath          13246 non-null  float64
 7   balcony       12710 non-null  float64
 8   price         13303 non-null  float64
dtypes: float64(3), object(6)
memory usage: 1.0+ MB

In [292]:
df.describe()

               bath       balcony         price
count  13246.000000  12710.000000  13303.000000
mean       2.692586      1.584343    112.584033
std        1.341506      0.817287    148.993820
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

**Filling missing values in balcony and bath using mean of the columns**

In [293]:
df['balcony'].fillna(df['balcony'].mean(), inplace=True)
df['bath'].fillna(df['bath'].mean(), inplace=True)
df.isna().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [294]:
pd.set_option("display.max_rows", None)

In [295]:
df['total_sqft'].value_counts()

1200                 843
1100                 221
1500                 204
2400                 195
600                  180
1000                 172
1350                 132
1050                 123
1300                 117
1250                 114
900                  112
1400                 108
1800                 104
1150                 101
1600                 100
1140                  91
2000                  82
1450                  70
1650                  69
800                   67
3000                  66
1075                  66
1020                  63
2500                  62
1550                  60
1160                  60
1125                  60
950                   59
1180                  58
1700                  58
1260                  57
1255                  56
1220                  55
1080                  55
1070                  53
700                   52
750                   52
1225                  48
4000                  48
1175                  48
1320                  46
1240                  46
2100                  46
1230                  45
1060                  45
1210                  44
850                   43
1280                  42
1270                  41
1185                  41
1190                  40
1170                  40
1410                  40
1750                  39
1330                  38
1025                  38
1290                  37
1310                  37
1850                  37
1065                  36
1194                  36
1090                  35
1215                  35
500                   34
1360                  33
2700                  33
1115                  33
1900                  32
3500                  32
1120                  32
1464                  32
1530                  31
1205                  31
1340                  31
2200                  31
1430                  31
1035                  30
1560                  30
1165                  30
1128                  29
3600                  29
1130                  29
1145                  29
1275                  28
2800                  28
1355                  28
1040                  28
1155                  27
1105                  27
1680                  27
1420                  27
1460                  25
1760                  25
1216                  25
1245                  25
650                   25
1590                  25
1010                  24
1305                  24
1475                  24
2600                  24
883                   23
1440                  23
1030                  23
1110                  23
985                   22
1246                  22
1575                  22
1495                  22
1243                  21
3200                  21
1385                  21
1470                  21
525                   21
1027                  21
1015                  21
1370                  21
1315                  21
1610                  21
1325                  21
1390                  20
1540                  20
550                   20
925                   20
660                   20
1480                  20
5000                  20
1265                  19
1365                  19
1645                  19
1570                  19
920                   19
1520                  19
1640                  19
4800                  18
980                   18
1095                  18
1525                  18
1345                  18
975                   18
1195                  18
1012                  18
940                   18
1196                  18
2072                  18
1485                  18
1820                  18
1665                  18
960                   17
1157                  17
1375                  17
1295                  17
1232                  17
400                   17
1197                  16
1135                  16
1425                  16
1655                  16
1830                  16
3300                  16
1045                  16
935                   16
1490                  16
1418                  16
1235                  16
645                   16
1720                  16
2300                  16
1153                  15
1152                  15
1660                  15
1085                  15
1740                  15
1950                  15
4500                  15
630                   15
1580                  15
1116                  15
1285                  15
1920                  15
1380                  15
1445                  14
675                   14
905                   14
450                   14
1141                  14
720                   14
1630                  14
1595                  14
2215                  13
1730                  13
1615                  13
840                   13
1710                  13
3800                  13
3900                  13
1535                  13
1875                  13
970                   13
1690                  13
1282                  13
1625                  13
1005                  13
1510                  13
1314                  13
1082                  13
2250                  13
1404                  12
1843                  12
1033                  12
1151                  12
1890                  12
1455                  12
1296                  12
1339                  12
1691                  12
1435                  12
1056                  12
2900                  12
3100                  12
1565                  12
1007                  12
1252                  12
845                   11
1346                  11
1162                  11
1804                  11
965                   11
1639                  11
1515                  11
1206                  11
1452                  11
540                   11
2150                  11
1174                  11
1685                  11
984                   11
1405                  11
4200                  10
957                   10
880                   10
3400                  10
620                   10
2350                  10
1810                  10
3596                  10
1063                  10
1620                  10
1161                  10
930                   10
918                   10
760                   10
770                   10
1256                  10
1555                  10
995                   10
1465                  10
1308                  10
1415                  10
1198                  10
1745                   9
1605                   9
6000                   9
1092                   9
1419                   9
1482                   9
1870                   9
1223                   9
1047                   9
3250                   9
2790                   9
1186                   9
1725                   9
1224                   9
705                    9
1222                   9
1715                   9
1693                   9
1108                   9
3150                   9
1790                   9
1113                   9
2475                   9
1724                   9
890                    9
780                    9
1756                   9
2750                   9
1156                   9
3750                   9
825                    9
674                    9
2180                   9
945                    9
910                    9
656                    8
1476                   8
990                    8
1026                   8
1703                   8
1088                   8
2990                   8
870                    8
1322                   8
875                    8
1163                   8
1192                   8
1335                   8
3122                   8
1835                   8
1146                   8
1352                   8
1636                   8
1187                   8
812                    8
1178                   8
1133                   8
1089                   8
5400                   8
1221                   8
4400                   8
1532                   8
1395                   8
1299                   8
1705                   8
2145                   8
1670                   8
1447                   8
680                    8
2650                   8
1342                   7
1036                   7
1132                   7
1041                   7
1374                   7
1044                   7
1179                   7
982                    7
820                    7
1397                   7
1093                   7
1262                   7
1101                   7
1272                   7
1306                   7
1277                   7
1357                   7
1564                   7
1840                   7
1112                   7
1349                   7
708                    7
1254                   7
1880                   7
1917                   7
1166                   7
1069                   7
2050                   7
1276                   7
1183                   7
1508                   7
1251                   7
615                    7
1762                   7
1910                   7
1143                   7
1139                   7
7500                   7
1427                   7
1545                   7
1718                   7
1392                   7
1096                   7
1199                   7
1847                   7
605                    6
1213                   6
1411                   6
1787                   6
1451                   6
1602                   6
2480                   6
1257                   6
1053                   6
440                    6
1583                   6
1614                   6
1656                   6
2040                   6
2425                   6
1991                   6
1176                   6
1755                   6
1362                   6
1717                   6
924                    6
1675                   6
1635                   6
1278                   6
1274                   6
7000                   6
1484                   6
1084                   6
1856                   6
1016                   6
1107                   6
710                    6
2275                   6
1304                   6
1173                   6
1697                   6
1247                   6
1453                   6
530                    6
1770                   6
610                    6
1127                   6
560                    6
1019                   6
1846                   6
654                    6
1268                   6
1083                   6
1181                   6
1028                   6
1372                   6
1242                   6
1167                   6
1286                   6
1333                   6
2774                   6
1102                   6
1780                   6
1571                   6
1735                   6
2225                   6
1126                   6
1936                   6
2690                   6
1313                   6
933                    6
1512                   6
1719                   6
1785                   6
2280                   6
2010                   6
830                    6
1303                   6
810                    6
3895                   6
929                    6
520                    6
1893                   6
625                    6
860                    6
1855                   6
936                    6
1062                   6
1541                   6
1884                   5
915                    5
1586                   5
635                    5
1344                   5
1403                   5
1408                   5
1662                   5
2360                   5
1231                   5
410                    5
1269                   5
2340                   5
1351                   5
1738                   5
1241                   5
420                    5
1457                   5
1057                   5
1559                   5
1865                   5
1354                   5
1009                   5
1076                   5
1293                   5
1458                   5
2254                   5
907                    5
1168                   5
1754                   5
1585                   5
545                    5
1098                   5
1109                   5
1184                   5
1031                   5
1188                   5
1424                   5
1852                   5
740                    5
1329                   5
1204                   5
1364                   5
2710                   5
1052                   5
1297                   5
1573                   5
1226                   5
1505                   5
1263                   5
1021                   5
1244                   5
1055                   5
1267                   5
2830 - 2882            5
640                    5
1309                   5
1444                   5
1654                   5
1123                   5
865                    5
1328                   5
1930                   5
1765                   5
1862                   5
919                    5
1749                   5
1798                   5
1358                   5
1826                   5
1326                   5
1208                   5
1567                   5
4395                   5
1436                   5
2119                   5
1935                   5
1533                   5
1253                   5
715                    5
1142                   5
4050                   5
3450                   5
1801                   5
1825                   5
1022                   5
1925                   5
1868                   5
510                    5
1077                   5
1664                   5
2850                   5
1683                   5
1148                   5
1708                   4
1353                   4
1929                   4
2805                   4
877                    4
2450                   4
1058                   4
946                    4
1051                   4
1118                   4
861                    4
1608                   4
12000                  4
2135                   4
1592                   4
1634                   4
1259                   4
1752.12                4
1343                   4
1837                   4
927                    4
1279                   4
1201                   4
1258                   4
1291                   4
3850                   4
1537                   4
8000                   4
1202                   4
1219                   4
2070                   4
1616                   4
1702                   4
914                    4
1494                   4
1111                   4
2160                   4
1072                   4
993                    4
972                    4
955                    4
1238                   4
416                    4
1980                   4
1158                   4
360                    4
967                    4
4750                   4
595                    4
795                    4
1449                   4
1332                   4
2439                   4
418                    4
3520                   4
1046                   4
992                    4
1067                   4
1795                   4
1521                   4
1569                   4
2640                   4
1881                   4
1407                   4
1138                   4
1334                   4
2273                   4
1432                   4
814                    4
1074                   4
1236                   4
1732                   4
1776                   4
602                    4
497                    4
1459                   4
1073                   4
1061                   4
1504                   4
1864                   4
1489                   4
1767                   4
1806                   4
1711                   4
1169                   4
1933                   4
1104                   4
1149                   4
775                    4
1207                   4
1517                   4
2240                   4
3436                   4
10000                  4
1318                   4
1904                   4
902                    4
1203                   4
1134                   4
1034                   4
1386                   4
1965                   4
1081                   4
3700                   4
1171                   4
1059                   4
1938                   4
966                    4
1698                   4
2560                   4
1037                   4
1842                   4
1466                   4
580                    4
460                    4
1394                   4
662                    4
2760                   4
1885                   4
4100                   4
755                    4
1563                   4
1079                   4
1945                   4
1975                   4
884                    4
1891                   4
1008                   4
921                    4
1611                   4
996                    4
2830                   4
1596                   4
1234                   4
665                    4
1695                   4
1091                   4
1367                   4
1976                   4
909                    3
1985                   3
1428                   3
1121                   3
1018                   3
2882                   3
1942                   3
1523                   3
1448                   3
2357                   3
1311                   3
575                    3
1726                   3
2249.81 - 4112.19      3
2503                   3
1652                   3
1603                   3
1129                   3
2483                   3
3252                   3
2367                   3
3335                   3
2390                   3
1594                   3
2470                   3
1853                   3
958                    3
6500                   3
3067                   3
1599                   3
670                    3
663                    3
1768                   3
2610                   3
1832                   3
3526                   3
9600                   3
1706                   3
1518                   3
480                    3
1477                   3
1312                   3
1584                   3
2087.01                3
1692                   3
1209                   3
661                    3
1751                   3
1536                   3
1144                   3
1788                   3
435                    3
1919                   3
375                    3
1117                   3
1539                   3
4600                   3
1845                   3
1819                   3
1039                   3
745                    3
1154                   3
1164                   3
2144                   3
648                    3
1576                   3
1553                   3
1426                   3
2940                   3
1682                   3
1621                   3
2325                   3
1644                   3
1591                   3
1527                   3
1147                   3
1577                   3
1897                   3
703                    3
1301                   3
1704                   3
3730                   3
829                    3
912                    3
1336                   3
1783                   3
664                    3
1011                   3
1588                   3
1086                   3
2292                   3
1817                   3
1672                   3
1858                   3
1384                   3
1984                   3
1960                   3
923                    3
1302                   3
2080                   3
1531                   3
1839                   3
782                    3
4111                   3
1024                   3
1043                   3
565                    3
1356                   3

**Handling wrong format values in the total_sqft column like it contains 'Acres', 'Guntha', 'Cents',  also handled such values in size column**

Replaced all such values and kept numerical value only

In [296]:
df['total_sqft'] = df['total_sqft'].replace('[Acres]', '', regex=True).astype(object)
df['total_sqft'] = df['total_sqft'].replace('[Guntha]', '', regex=True).astype(object)
df['total_sqft'] = df['total_sqft'].replace('[Sq. Meter]', '', regex=True).astype(object)
df['total_sqft'] = df['total_sqft'].replace('[Sq. Yards]', '', regex=True).astype(object)
df['total_sqft'] = df['total_sqft'].replace('[Cents]', '', regex=True).astype(object)
df['total_sqft'] = df['total_sqft'].replace('[Perch]', '', regex=True).astype(object)
df['total_sqft'] = df['total_sqft'].replace('[Grounds]', '', regex=True).astype(object)
df['size']=df['size'].replace([' BHK'],"",regex=True).astype(object)
df['size']=df['size'].replace(['Bedroom'],"",regex=True).astype(object)

In [297]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00

**Replaced the date format in availability column**

Replaced it with Not Ready to Move and finally only kept two values in the column (Not ready to Move, Ready to Move)

In [298]:
conditions=[(df['availability']=='Ready To Move'),(df['availability']!='Ready To Move')]
values=['Ready To Move', 'Not Ready To Move']
df['final_avail']=np.select(conditions, values)
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,final_avail
0,Super built-up Area,19-Dec,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07,Not Ready To Move
1,Plot Area,Ready To Move,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00,Ready To Move
2,Built-up Area,Ready To Move,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00,Ready To Move
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00,Ready To Move
4,Super built-up Area,Ready To Move,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00,Ready To Move

In [299]:
df.drop(['availability'], inplace=True, axis=1)
df.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,final_avail
0,Super built-up Area,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07,Not Ready To Move
1,Plot Area,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00,Ready To Move
2,Built-up Area,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00,Ready To Move
3,Super built-up Area,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00,Ready To Move
4,Super built-up Area,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00,Ready To Move

In [300]:
df.shape

(13303, 9)

**Dropped the values in the format of range from total_sqft column (X-Y)**

In [301]:
index=df[df['total_sqft'].str.contains('[-]', regex=True)].index
df.drop(index, inplace=True)
df.shape

(13110, 9)

In [ ]:
df['total_sqft'].value_counts()

In [303]:
df.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,final_avail
0,Super built-up Area,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07,Not Ready To Move
1,Plot Area,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00,Ready To Move
2,Built-up Area,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00,Ready To Move
3,Super built-up Area,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00,Ready To Move
4,Super built-up Area,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00,Ready To Move

**Converted the data type of some object column into float and numeric**

In [304]:
df['total_sqft']=df['total_sqft'].astype(float)

In [ ]:
index=df[df['size'].str.contains('[RK]', regex=True)].index
df.drop(index, inplace=True)
df['size'].value_counts()

In [306]:
df.shape

(13098, 9)

In [307]:
df['size']=df['size'].astype(int)

In [308]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13098 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   area_type    13098 non-null  object
 1   location     13098 non-null  object
 2   size         13098 non-null  int64
 3   society      13098 non-null  object
 4   total_sqft   13098 non-null  float64
 5   bath         13098 non-null  float64
 6   balcony      13098 non-null  float64
 7   price        13098 non-null  float64
 8   final_avail  13098 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 1023.3+ KB

**Installing and using category encoders to convert the categorical columns into numeric values**

In [309]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)

In [310]:
import category_encoders as ce

In [311]:
encode=ce.OrdinalEncoder(cols=['location', 'area_type','final_avail','society'])
df=encode.fit_transform(df)
df_transformed=encode.transform(df)
df.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,final_avail
0,1,1,2,1,1056.0,2.0,1.0,39.07,1
1,2,2,4,2,2600.0,5.0,3.0,120.00,2
2,3,3,3,3,1440.0,2.0,3.0,62.00,2
3,1,4,3,4,1521.0,3.0,1.0,95.00,2
4,1,5,2,3,1200.0,2.0,1.0,51.00,2

**Splitting the data into training and testing sets**

In [312]:
from sklearn.model_selection import train_test_split
X=df.drop(['price'], axis=1)
y=df['price']

In [313]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3)